<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/projects/">Projects</a>
        <a href="/about">About</a>
    </nav>
    <div>
        <h2>About Us</h2>
        <p>
            We are a team of developers who love to code.
        </p>
    </div>
</body>
</html>